/* ===== General Layout ===== */
.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5f6fa;
}

/* ===== Top Bar ===== */
.top-bar {
    -fx-background-color: #1e2a38;
    -fx-padding: 10;
    -fx-alignment: CENTER_LEFT;
}
.vbox {
    -fx-background-color: #1e2a38;
    -fx-padding: 10;
    -fx-alignment: top-left;
}
.top-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.top-input {
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: transparent;
    -fx-pref-height: 28;
}

/* Buttons */
.start-btn {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}
.start-btn:hover {
    -fx-background-color: #27ae60;
}

.stop-btn {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}
.stop-btn:hover {
    -fx-background-color: #c0392b;
}

.reset-btn {
    -fx-background-color: #7f8c8d;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}
.reset-btn:hover {
    -fx-background-color: #707b7c;
}

/* ===== Main Area ===== */
.main-area {
    -fx-padding: 15;
}

/* ===== Queue Section ===== */
.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.queue-container {
    -fx-border-color: #dcdde1;
    -fx-border-radius: 8;
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-min-height: 120;
    -fx-alignment: CENTER;
}

.queue-empty-label {
    -fx-text-fill: #7f8c8d;
    -fx-font-style: italic;
}

.queue-status {
    -fx-text-fill: #7f8c8d;
    -fx-font-size: 13px;
}

/* ===== Pumps Section ===== */
.pumps-container {
    -fx-border-color: #dcdde1;
    -fx-border-radius: 8;
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-min-height: 250;
}

/* ===== Stats Bar ===== */
.stats-bar {
    -fx-background-color: #1e2a38;
    -fx-padding: 10;
    -fx-border-radius: 8;
}
.stat-blue {
    -fx-text-fill: #3498db;
    -fx-font-size: 16px;
}
.stat-green {
    -fx-text-fill: #2ecc71;
    -fx-font-size: 16px;
}
.stat-orange {
    -fx-text-fill: #e67e22;
    -fx-font-size: 16px;
}

/* ===== Log Panel ===== */
.log-panel {
    -fx-background-color: #1e2a38;
    -fx-padding: 15;
    -fx-border-radius: 8;
}

.log-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.log-area {
    -fx-control-inner-background: #0f1620;
    -fx-text-fill: #00ff66;
    -fx-font-family: Consolas;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

.clear-btn {
    -fx-background-color: #7f8c8d;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}
.addCarButton{
    -fx-background-color: #1c7ce2;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-font-size: 16px;
}
.addCarButton:hover{
    -fx-background-color: #044890;
}
.clear-btn:hover {
    -fx-background-color: #707b7c;
}

/* ===== Footer ===== */
.footer-bar {
    -fx-background-color: #1e2a38;
    -fx-padding: 5 15 5 15;
}
.footer-text {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}